.admin-panel-form {
    font-family: sans-serif;
    line-height: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    margin: 0 5rem;
    justify-items: left;
    width: fit-content;
    column-gap: 5rem;
}

.admin-panel-form label {
    display: block;
    text-align: left;
}

.admin-panel-form input, .admin-panel-form textarea {
    background-color: #ffffff;
    padding: 0.5rem;
    outline-color: #fff12e;
}

.admin-panel-form input:focus, .admin-panel-form textarea:focus{
    background-color: #b3ddff;
    border: none;
    padding: 0.5rem;
    outline-offset: -4px;
    outline-style: solid;
    outline-width: 4px;
    transition: all 0.3s, outline-width 0.1s, outline-offset 0.1s;
}

.admin-panel-form button {
    background-color: #fff12e;
    outline-color: #fff12e;
    outline-offset: -4px;
    outline-style: solid;
    outline-width: 4px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
}

.admin-panel-form button:hover {
    background-color: #b3ddff;
    transition: 0.2s;

}
