.full-screen-center-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

}

.popup-flex {
    display: flex;
    background-color: #b3ddff;
    padding: 1.5rem;
    border-radius: calc(var(--radius) - 2px);
    border-width: 0.5rem;
    border-color: #58a0fd;
    column-gap: 5rem;
    width: 60%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.popup-hidden {
    opacity: 0;
    transition: opacity 0.2s;
}

.popup-shown {
    opacity: 1;
    transition: opacity 0.2s;
}


.register-form {
    line-height: 1.5rem;

}

.register-form input {
    background-color: #ffffff;
    padding: 0.5rem;
    outline-color: #58a0fd;
}

.register-form input:focus {
    background-color: #fff12e;
    border: none;
    padding: 0.5rem;
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 2px;
    transition: all 0.3s, outline-width 0.1s, outline-offset 0.1s;
}

.register-form button {
    background-color: #fff12e;
    outline-color: #fff12e;
    outline-offset: -4px;
    outline-style: solid;
    outline-width: 4px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
}

.register-form button:hover {
    background-color: #58a0fd;
    transition: 0.2s;

}

.form-text {
    font-family: sans-serif;
    font-size: 1.25rem;

}

.exit-button {
    background-color: #fff12e;
    border-radius: 0.75rem;
    width: max-content;
    height: max-content;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 800;
    padding: 0.5rem 1rem;
    justify-self: start;
    outline-color: #fff12e;
    outline-offset: -4px;
    outline-style: solid;
    outline-width: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.exit-button:hover {
    background-color: #58a0fd;
    transition: 0.2s;
}

.logged-in-tile {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: space-evenly;
    gap: 0.5rem;
    outline-style: none !important;
    border-style: none;
    align-items: center;
    justify-self: center;
    align-self: center;
    background-color: transparent;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    transition: background-color 0.2s, outline-width 0.2s;
}


.logged-in-tile:hover, .logged-in-tile[data-state="open"] {
    outline-color: #fff12e;
    outline-offset: -4px;
    outline-style: solid !important;;
    outline-width: 4px;
    background-color: #b3ddff;
    transition: background-color 0.2s, outline-width 0.2s;
}

.logged-in-menu {
    background-color: #b3ddff;
    color: #fff12e;
    font-family: sans-serif;
}

.logged-in-separator {
    background-color: #fff12e;
}